/* Ini CSS */

body, html {
    margin: 2%;
    padding: 0;
    height: 100%;
}
nav {
    border: 2px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    border-radius: 4px;
}

.logo-icon {
    background-image: url(https://logos.flamingtext.com/City-Logos/Sangia-Water-Logo.webp);
    background-size: 100px;
    width: 85px;
    height: 60px;
}

.nav-item {
    display: inline-block;
    padding: 10px;
    border: 2px solid blue;
    margin: 5px;
    border-radius: 4px;
}

.main-title {
    text-align: center;
    margin: 35px;
    font-size: 30px;
    font-weight: bold;
}

.sub-title {
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;
    padding: 0 20px;
}

.testimonial {
    width: 80%;
    text-align: left;
}

.testimonial image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.testimonial p {
    font-size: 14px;
    color: black;
}

.contact-form {
    width: 200px;
    padding: 20px;
    background-color: #e0e7ef;
    border-radius: 10px;
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

>.contact-form p {
    font-size: 14px;
    margin-bottom: 20px;
    color: black;
}

.contact-form label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.contact-form input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555555;
}

